<mat-card *ngIf='dataloaded | async' fxFlexfill>
    <mat-card>
        <mat-card-header>
            <img mat-card-avatar src="https://picsum.photos/200/300?random=1">
            <div>
                <mat-card-title>
                    {{user.PersonalDetails.Name}}
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.Handle}}
                </mat-card-subtitle>
            </div>
            <span style="flex: 1 1 auto;"></span>
            <div>
                <mat-card-title>
                    Rating : {{user.ContestDetails[user.ContestDetails.length-1].Rating}}
                </mat-card-title>
                <mat-card-subtitle>
                    Volatility : {{user.ContestDetails[user.ContestDetails.length-1].Volatility}}
                </mat-card-subtitle>
            </div>
        </mat-card-header>
    </mat-card>
    <br>
    <br>
    <mat-card>
        <mat-card-subtitle>
            <h2 mat-line>User Details</h2>
        </mat-card-subtitle>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    UserName : {{user.PersonalDetails.Name}}
                </mat-list-item>
                <mat-list-item>
                    Handle : {{user.Handle}}
                </mat-list-item>
                <mat-list-item>
                    RollNumber : {{user.PersonalDetails.RollNumber}}
                </mat-list-item>
                <mat-list-item>
                    TimesPlayed : {{user.ContestDetails.length}}
                </mat-list-item>
                <mat-list-item>
                    College : {{user.PersonalDetails.College}}
                </mat-list-item>
                <mat-list-item>
                    Stream : {{user.PersonalDetails.Stream}}
                </mat-list-item>
                <mat-list-item>
                    Batch : {{user.PersonalDetails.YearofStudy}}
                </mat-list-item>
                
            </mat-list>
        </mat-card-content>
    </mat-card>
    <br>
    <mat-card>
        <mat-card-subtitle>
            <h2>Ratings Graph</h2>
        </mat-card-subtitle>
        <mat-card-content>
            <div id=chart_div fxFlexfill></div>
        </mat-card-content>
    </mat-card>
    <br>
    <br>
    <mat-card>
        <mat-card-subtitle>
            <h2>Ranks Graph</h2>
        </mat-card-subtitle>
        <mat-card-content>
            <div id=chart_div1 fxFlexfill></div>
        </mat-card-content>
    </mat-card>
    <br>
    <br>
</mat-card>

<!-- <ng-template #dataloaded>
    <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
</ng-template> -->