<mat-card>
    <br>
<mat-card>
    <mat-card-title>
        Player Details
    </mat-card-title>
    <mat-card-subtitle>
        Enter Handle of Player to Get Details
    </mat-card-subtitle>
    <mat-form-field appearance="outline">
        <mat-label for="College">Handle</mat-label>
        <input matInput id="Handle" placeholder="Ex. beingzeroin">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="submit()">Get Details</button>
</mat-card>
<br>
<br>
<mat-card *ngIf = 'dataloaded | async'>
    <mat-card-title>
        Random Quote:
    </mat-card-title>
    <h1>{{fact.text}}</h1>
    <h4>
        By : {{fact.author}}
    </h4>
</mat-card>
</mat-card>